#!/bin/bash
#SBATCH --nodes=1
#SBATCH --time=02:00:00
#SBATCH --job-name=amb_1gpu_140ka
#SBATCH --gres=gpu:1
#SBATCH --ntasks=4
#SBATCH --cpus-per-task=1
#SBATCH --mail-type=NONE
#SBATCH --mail-user=robert.welch@stfc.ac.uk
#SBATCH --partition=small

export PATH="/jmain02/home/J2AD004/sxk40/rxw76-sxk40/.local/bin:$PATH"

module load cuda/11.1-gcc-9.1.0
module load gcc/9.1.0

hpcbench infolog sysinfo.json
#hpcbench syslog -s /sys/class/hwmon/hwmon3/device/power1_average:power:1 -s /sys/class/hwmon/hwmon4/temp1_input:temp:0.001 syslog.json
hpcbench gpulog gpulog.json & gpuid=$!
#hpcbench cpulog "'gmx mdrun -s benchmark.tpr'" cpulog.json & cpuid=$!

mpirun -np 4 lmp -sf gpu -pk gpu 1 -in benchmark.in 

#kill $gpuid
#kill $cpuid

#hpcbench gmxlog md.log gromacs.json
#hpcbench slurmlog jade_gromacs_20k_1gpu.sh slurm.json
#hpcbench extra -e "'Comment:example run'" -e "'Machine:JADE'" meta.json
#hpcbench collate -l sysinfo.json gpulog.json cpulog.json gromacs.json slurm.json meta.json -o jade_gromacs_20k_1gpu.json
